:host {
  ::ng-deep .p-card-body {
   padding:3px;
  }
  ::ng-deep .p-card-content {
    padding:3px;
  }
  ::ng-deep .p-card-title {
    font-size:1rem;
  }
  ::ng-deep .p-card {
    box-shadow: 0 3px 4px -1px rgb(0 0 0 / 20%), 0 5px 4px 0 rgb(0 0 0 / 14%);
  }
}
p-card {
  margin:2px;

}
.opportunity-card {
  height: 75px;
}
