<div (click)="focusOut($event)">
  <h3>Tableau</h3>
  <div class="line">
    <div class="cell cell-first cell-drag"></div>
    <div *ngFor="let cellDefinition of (cellDefinitions$|async)"
      class="cell"
      [style.width]="cellDefinition.width+'px'"
    >{{cellDefinition.title}}</div>
  </div>
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div cdkDrag *ngFor="let line of tableau$|async; let index = index">
      <app-line [line]="line" [lineIndex]="index+1"></app-line>
    </div>
  </div>

  <div class="mt-5" *ngIf="(tableau$|async) as tableau">
    <p-button label="Add line" (onClick)="addLine($event, tableau.length)"></p-button>
  </div>


  <div class="row mt-5">
    <h4>Debug area</h4>
    <div class="col-1" *ngIf="activeCell$ | async as activeCell">
      <div>Line : {{ activeCell.lineIndex }}</div>
      <div>Cell : {{ activeCell.cellIndex }}</div>
    </div>
    <div class="col-4">
      <h5>Tableau dans le store</h5>
      <table class="table table-bordered">
        <tr *ngFor="let line of tableau$|async">
          <td>{{line.id}}</td>
          <td>{{line.description}}</td>
          <td>{{line.totalPrice}}</td>
          <td>{{line.totalCost}}</td>
        </tr>
      </table>
    </div>
    <div class="col-4">
      <h5>Historique {{historyStep$|async}}</h5>
      <table class="table table-bordered">
        <tr *ngFor="let line of history$|async;let index = index">
          <td>
            <div *ngIf="index === (historyStep$|async)"><strong>{{index}}<---</strong></div>
            <div *ngIf="index !== (historyStep$|async)">{{index}}</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


