.active {
  background-color: rgba(218,218,218,0.57);
}
.line {
  border-top:1px solid grey;
  cursor: pointer;
}
.grand-total {
  border-top:1px solid grey;
  border-bottom:1px solid grey;
  background-color: rgba(200,200,200,0.57);
}
.header-line {
  border-top:1px solid grey;
  background-color: rgba(200,200,200,0.57);
}
.line-summary {
  padding-top:5px;
  padding-bottom:5px;
  background-color: rgba(246,246,246,0.57);
}
.col-total {
  width:7%;
}
.grab-handle {
  cursor: grab;
}
.line-component {
  font-size: 95%;
  padding-top: 5px;
  cursor: pointer;
}
.line-component:hover {
  text-decoration: underline black;
}
.active  .line-summary{
  background-color: rgba(200,200,200,0.57);
}
.scroll-target {
  position:absolute;
  margin-top:100px;
}
.dynamic-discount {
  position: absolute;
  width:90px;
}
:host {
  ::ng-deep .sidebar1 {
    width: 1400px !important;
  }
  ::ng-deep .sidebar2 {
    width: 1300px !important;
  }
  ::ng-deep .chip-warning{
    font-size: 0.8rem;
    color:white;
    background-color: #F59E0B;
  }
  ::ng-deep .p-inline-message {
    padding:2px;
  }
  ::ng-deep .active > .p-panel-header{
    background-color: #F59E0B;
  }
  ::ng-deep .p-accordion-header-link{
    background-color: white !important;
  }
  ::ng-deep .p-accordion-header-link:focus{
    box-shadow: none !important;
  }
}



