form {
  width: 473px;
  //border: 1px solid red;
}
.line {
  display: flex;
}

.cell {
  width:100px;
  height:30px;
  border-top:1px solid black;
  border-right:1px solid black;
}

.cell-first {
  border-left:1px solid black;
}

.cell-selected {
  background-color: orange;
}

input {
  width: 98px;
  height:30px;
  border-radius:0px;
}

.cell-min {
  padding-top:5px;
  padding-left:13px;
}
.cell-drag {
  padding-top:5px;
  padding-left:10px;
  width:38px;
}
.cell-dropdown {
  width:77px;
}
.cell-switch {
  width:56px;
}

.cdk-drag-handle {
  cursor: grab;
}
.cdk-drag-handle:active {
  cursor: grabbing;
}

