:host {
  ::ng-deep .p-autocomplete {
    height: 30px !important;
  }
  ::ng-deep .p-autocomplete-item {
    padding: 3px !important;
  }
  ::ng-deep .p-autocomplete-items {
    padding: 3px !important;
  }
  ::ng-deep .p-autocomplete-input {
    width: 100%;
    border-radius: 0px;
  }
  ::ng-deep .p-autocomplete-panel {
    width: 100%;
  }
}
