/* You can add global styles to this file, and also import other style files */
.p-contextmenu {
  border:3px solid red;
  width:300px !important;
}
.p-sidebar-mask{
  background-color: rgba(0, 0, 0, 0.1) !important;
}
