/* You can add global styles to this file, and also import other style files */
.p-contextmenu {
  border:3px solid red;
  width:250px !important;
}


.p-menuitem a {
  padding:5px;
}

.p-menuitem-text {
  font-size: 90%;
}
.p-sidebar-mask{
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.p-menuitem-icon {
  width:25px;
  margin-right:0px !important;
  text-align: center;
}
.p-menuitem-link {
  padding-left:15px !important;
}
